@import url(reset.css);

h2 {
  font-size: 25px;
}
aside {
  background-color: royalblue;
  position: fixed;
  height: 100%;
}
aside:hover {
  background-color: cadetblue;
  position: fixed;
}
aside:active {
  background-color: aliceblue;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.articleMain {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 50%;
  text-align: center;
}
.articleMain h2 {
  padding-top: 10px;
  padding-bottom: 50px;
}
#titreImg {
  width: 30%;
}
#formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#formulaire div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#acceuil {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  min-height: 100vh;
}
#video {
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
  align-items: center;
}
#gallerie {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#pied {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#liensimportant {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
