@import url(reset.css);
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 25px;
}
a {
  color: white;
  transition-property: color;
  transition-duration: 1s 1s;
  transition-timing-function: ease-in, linear;
}
a:hover {
  color: red;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: rgb(77, 147, 177);
}

th,
td {
  border: 4px solid rgb(0, 0, 0);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(95, 115, 195);
}

aside {
  background-color: royalblue;
  position: fixed;
  height: 100%;
}
aside:hover {
  background-color: cadetblue;
  position: fixed;
}
aside:active {
  background-color: aliceblue;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 90, 156);
  height: 100vh;
}
.btn {
  animation: bouton 3s linear infinite;
}
.articleMain {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 50%;
  text-align: center;
}
.articleMain h2 {
  padding-top: 10px;
  padding-bottom: 50px;
}
#titreImg {
  width: 30%;
}
#formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgb(84, 84, 229);
  height: 100vh;
}
#formulaire div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tableau {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  background-color: rgb(77, 77, 200);
  height: 100vh;
  padding-left: 50vh;
  padding-right: 50vh;
}
#acceuil {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  min-height: 100vh;
  background-color: rgb(100, 100, 255);
}
#video {
  display: flex;
  gap: 100 px;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(54, 76, 131);
  height: 100vh;
}
#gallerie {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(31, 44, 78);
  height: 100vh;
}
#pied {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10vh;
  background-color: black;
  height: 100vh;
}
#pied a {
  color: white;
}
#liensimportant {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@keyframes bouton {
  0% {
    background-color: royalblue;
  }
  50% {
    background-color: lightgreen;
  }
  100% {
    background-color: royalblue;
  }
}
